<div ng-controller="mainCtrl">
  <div class="container">
    <h3>主菜单</h3>
    <form >
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="请输入菜品搜索关键字...">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default">搜索</button>
          </span>
        </div>
      </div>
    </form>
    <br/>
    <div class="list-group">
      <a ng-repeat="d in dishList" class="list-group-item" href="#/detail/{{d.id}}">
        <div class="media">
          <div class="media-left">
            <img src="img/{{d.img}}" class="media-object">
          </div>
          <div class="media-body">
            <h4>{{d.name}}</h4>
            <p>原材料：{{d.material}}</p>
          </div>
        </div>
      </a>
    </div>

    <button type="button" class="btn btn-success btn-sm btn-block" ng-click="loadMore()">
        <span>加载更多</span>
        <span><img src="img/loading.gif">加载中</span>
    </button>
    <br><br><br>
  </div>
</div>


























